
<%= form_for([current_user, @newproject]) do |f| %>

	<p>
	<%= f.label :creator %> <br>
	<%= f.text_area :creator%> 
	</p>

	<p>
	<%= f.label :title %> <br>
	<%= f.text_area :title %> 
	</p>

	<p>
	<%= f.label :category %> <br>
	<%= f.text_area :category%> 
	</p>

	<p>
	Category<br>
	<p>Please select the relevant categories </p>

	<%= f.label "Education" %> 
	<%=f.check_box :education%>

	<%= f.label "Health" %> 
	<%= f.check_box :health%>

	<%= f.label "Poverty" %> 
	<%= f.check_box :poverty%>

	<%= f.label "Arts & Culture" %> 
	<%= f.check_box :artsandculture%>

	<%= f.label "Business" %> 
	<%= f.check_box :business%>

	<%= f.label "Food Security" %> 
	<%= f.check_box :foodsecurity %>
	<br>
	</p>


	<p>
	<%= f.label :description %> <br>
	<%= f.text_area :description %> 
	</p>

	<p>
	<%= f.label :email %> <br>
	<%= f.text_area :email %> 
	</p>

	<p>
	<br><%= f.label "Public"%> </br>
	<%=f.check_box :public%>
	</p>

	

	<p>
	<br><%= f.label "Individual"%> </br>
	<%=f.check_box :individual%>
	</p>

	<p>
	<%= f.submit %>
	</p>

<% end %>

