   <!-- Page Content -->
    <div class="container">
    <h1>Your Own Projects</h1>

    <button type="button">      
    <%=link_to "New Project", new_user_newproject_path(current_user)%></button>  
    
    <button type="button">      
    <%=link_to "Public", new_user_newproject_path(current_user)%></button>  

    <button type="button">      
    <%=link_to "Private", new_user_newproject_path(current_user)%></button>  
        

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">
                    <small>Education</small>
                </h2>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
        <%@newproject_education.each do |project|%>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <%=link_to project.title, user_newproject_path(current_user,project.id)%>
                </h3>
                <p><%=project.description%></p><br>
                button:more 
            </div>
        <%end%>
        
        </div>
        <!-- /.row -->
        <hr>

         <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <small>Health</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
        <%@newproject_health.each do |project|%>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <%=link_to project.title, user_newproject_path(current_user,project.id)%>
                </h3>
                <p><%=project.description%></p><br>
                button:more 
            </div>
        <%end%>
       
        </div>
        <!-- /.row -->
        <hr>


         <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <small>Poverty</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
        <%@newproject_poverty.each do |project|%>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <%=link_to project.title, user_newproject_path(current_user,project.id)%>
                </h3>
                <p><%=project.description%></p><br>
                button:more 
            </div>
        <%end%>
       
        </div>
        <!-- /.row -->
        <hr>

           <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <small>Arts & Culture</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
        <%@newproject_artsandculture.each do |project|%>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <%=link_to project.title, user_newproject_path(current_user,project.id)%>
                </h3>
                <p><%=project.description%></p><br>
                button:more 
            </div>
        <%end%>
       
        </div>
        <!-- /.row -->
        <hr>


        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <small>Business</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
        <%@newproject_business.each do |project|%>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <%=link_to project.title, user_newproject_path(current_user,project.id)%>
                </h3>
                <p><%=project.description%></p><br>
                button:more 
            </div>
        <%end%>
       
        </div>
        <!-- /.row -->
        <hr>


            <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <small>Food Security</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
        <%@newproject_foodsecurity.each do |project|%>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <%=link_to project.title, user_newproject_path(current_user,project.id)%>
                </h3>
                <p><%=project.description%></p><br>
                button:more 
            </div>
        <%end%>
       
        </div>
        <!-- /.row -->
        <hr>
        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->






