<%=render 'nav'%> 
<div class="container">
    <h1>Your Individual Projects</h1>

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">
                    <small>Education</small>
                </h2>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
        <%@individualproject_education.each do |project|%>
            <div class="col-md-4 portfolio-item">
                <div class="jumbotron">
                <h3>
                    <%=link_to project.title, user_newproject_path(current_user,project.id)%>
                </h3>
                <p><%=project.description%></p><br>
                Creator: <%=project.creator%><br>
                <%if current_user==project.user%>
                 <button type="button">  <%=link_to "Edit", edit_user_newproject_path(current_user,project.id)%></button>  

                <button type="button"> <%=link_to "Delete", user_newproject_path(current_user,project.id), method: :delete, data: {confirm: "Are you sure you want to delete your project?"}%></button>  
                <%end%>
                </div>
            </div>
        <%end%>
        
        </div>
        <!-- /.row -->
        <hr>


         <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <small>Health</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
        <%@individualproject_health.each do |project|%>
            <div class="col-md-4 portfolio-item">
                <div class="jumbotron">
                <h3>
                    <%=link_to project.title, user_newproject_path(current_user,project.id)%>
                </h3>
                <p><%=project.description%></p><br>
                 Creator: <%=project.creator%><br>
                 <%if current_user==project.user%>
                 <button type="button">  <%=link_to "Edit", edit_user_newproject_path(current_user,project.id)%></button>  

                <button type="button"> <%=link_to "Delete", user_newproject_path(current_user,project.id), method: :delete, data: {confirm: "Are you sure you want to delete your project?"}%></button>  
                <%end%>
                </div>
                
            </div>
        <%end%>
       
        </div>
        <!-- /.row -->
        <hr>


         <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <small>Poverty</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
        <%@individualproject_poverty.each do |project|%>
            <div class="col-md-4 portfolio-item">
                <div class="jumbotron">
                <h3>
                    <%=link_to project.title, user_newproject_path(current_user,project.id)%>
                </h3>
                <p><%=project.description%></p><br>
                 Creator: <%=project.creator%><br>
                 <%if current_user==project.user%>
                 <button type="button">  <%=link_to "Edit", edit_user_newproject_path(current_user,project.id)%></button>  

                <button type="button"> <%=link_to "Delete", user_newproject_path(current_user,project.id), method: :delete, data: {confirm: "Are you sure you want to delete your project?"}%></button>  
                <%end%>
                </div>
            </div>
        <%end%>
       
        </div>
        <!-- /.row -->
        <hr>

           <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <small>Arts & Culture</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
        <%@individualproject_artsandculture.each do |project|%>
            <div class="col-md-4 portfolio-item">
                <div class="jumbotron">

                <h3>
                    <%=link_to project.title, user_newproject_path(current_user,project.id)%>
                </h3>
                <p><%=project.description%></p><br>
                 Creator: <%=project.creator%><br>
                 <%if current_user==project.user%>
                 <button type="button">  <%=link_to "Edit", edit_user_newproject_path(current_user,project.id)%></button>  

                <button type="button"> <%=link_to "Delete", user_newproject_path(current_user,project.id), method: :delete, data: {confirm: "Are you sure you want to delete your project?"}%></button>  
                <%end%> 
                </div>
            </div>
        <%end%>
       
        </div>
        <!-- /.row -->
        <hr>


        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <small>Business</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
        <%@individualproject_business.each do |project|%>
            <div class="col-md-4 portfolio-item">
                <div class="jumbotron">
                <h3>
                    <%=link_to project.title, user_newproject_path(current_user,project.id)%>
                </h3>
                <p><%=project.description%></p><br>
                 Creator: <%=project.creator%><br>
                 <%if current_user==project.user%>
                 <button type="button">  <%=link_to "Edit", edit_user_newproject_path(current_user,project.id)%></button>  

                <button type="button"> <%=link_to "Delete", user_newproject_path(current_user,project.id), method: :delete, data: {confirm: "Are you sure you want to delete your project?"}%></button>  
                <%end%> 
                </div>
            </div>
        <%end%>
       
        </div>
        <!-- /.row -->
        <hr>


            <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <small>Food Security</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
        <%@individualproject_foodsecurity.each do |project|%>

            <div class="col-md-4 portfolio-item">
            <div class="jumbotron">
                </a>
                <h3>
                    <%=link_to project.title, user_newproject_path(current_user,project.id)%>
                </h3>
                <p><%=project.description%></p><br>
                 Creator: <%=project.creator%><br>
                 <%if current_user==project.user%>
                 <button type="button">  <%=link_to "Edit", edit_user_newproject_path(current_user,project.id)%></button>  

                <button type="button"> <%=link_to "Delete", user_newproject_path(current_user,project.id), method: :delete, data: {confirm: "Are you sure you want to delete your project?"}%></button>  
                <%end%>
                </div>
            </div>
        <%end%>
       
        </div>
        <!-- /.row -->
        <hr>
        <!-- Pagination -->
             <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <%=link_to "&laquo;".html_safe, newprojects_team_path%>
                    </li>
                    <li>
                        <%=link_to "Your Project List", user_newprojects_path(current_user)%>
                    </li>
                    <li>
                        <%=link_to "Public", newprojects_publicproject_path%>
                    </li>
                    <li>
                        <%=link_to "Private", newprojects_privateproject_path%>
                    </li>
                    <li>
                         <%=link_to "Team", newprojects_team_path%>
                    </li>
                    <li class="active">
                         <%=link_to "Individual", newprojects_individual_path%>
                    </li>
                    <li>
                         <%=link_to "&raquo;".html_safe, user_newprojects_path(current_user)%>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
        <hr>
         <button type="button">      
            <%=link_to "New Project",new_user_newproject_path(current_user)%></button>  
        <hr>
        <!-- Footer -->
    </div>
    <br>
    <br>

<div id="footerwrap">
   <div class="container">
      

                   <footer> <img src='/assets/logo.jpg'  height="30" width="30"/> Copyright &copy; Socialthon 
   </div>
</div>