
<p>
<% if @newproject.url!=nil%><%= image_tag(@newproject.url, width: "30%", height: "30%")%><%end%>

<%=render 'nav'%> 

<br>
Creator: <%=@newproject.creator%><br>
Creator's Email: <%=@newproject.email%><br>
Title: <%=@newproject.title%><br>
Category: <br>
<%if @newproject.education==true%>
Education<br>
<%end%>
<%if @newproject.health==true%>
Health<br>
<%end%>
<%if @newproject.poverty==true%>
Poverty<br>
<%end%>
<%if @newproject.artsandculture==true%>
Arts&Culture <br>
<%end%>
<%if @newproject.business==true%>
Business<br>
<%end%>

<%if @newproject.foodsecurity==true%>
Food Security<br>
<%end%>

Description:
Privacy: 
<%if @newproject.public==true%>
	Public <br>
	<ul>
  	<%if @newproject.member1!=""%><li><%=@newproject.member1%></li><%end%>
  	<%if @newproject.member2!=""%><li><%=@newproject.member2%></li><%end%>
  	<%if @newproject.member3!=""%><li><%=@newproject.member3%></li><%end%>
  	<%if @newproject.member4!=""%><li><%=@newproject.member4%></li><%end%>
  	<%if @newproject.member5!=""%><li><%=@newproject.member5%></li><%end%>
	</ul>
<%else%>
	Private
<%end%>

</p>

 
  <button type="button"> 
<%=link_to "Your Project List", user_newprojects_path(current_user)%> </button> 
 <button type="button">   
<%=link_to "Edit", edit_user_newproject_path(current_user,@newproject.id)%> </button> 
 <button type="button">   
<%=link_to "Delete", user_newproject_path(current_user,@newproject.id), method: :delete, data: {confirm: "Are you sure you want to delete your project?"}%><br> </button> 






