<%=render 'nav'%> 
<div class="newproject_background">
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Proposal of Your Project</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                     <div class="jumbotron">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Creator</label><br>
                            
                                 <div class="form-control">
                                 <%=@newproject.creator%>
                                 </div>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>


                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label><br>
                                 <div class="form-control">
                                    <%=@newproject.email%>
                                 </div>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Title of the Project</label><br>
                                 <div class="form-control">
                                    <%=@newproject.title%>
                                 </div>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>


                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Category</label><br>
                               <div class ="panel">
                                    <%if @newproject.education==true%>
                                        Education
                                    <%end%>
                                    <%if @newproject.health==true%>
                                        Health
                                    <%end%>
                                    <%if @newproject.poverty==true%>
                                        Poverty
                                    <%end%>
                                    <%if @newproject.artsandculture==true%>
                                        Arts&Culture 
                                    <%end%>
                                    <%if @newproject.business==true%>
                                       Business
                                    <%end%>
                                    <%if @newproject.foodsecurity==true%>
                                        Food Security
                                    <%end%>
                                    <p class="help-block text-danger"></p>
                            </div>
                        </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>


                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Description</label><br>
                                            <textarea rows="5" class="form-control">
                                                <%=@newproject.description%>
                                            </textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Team/Individual</label><br>
                            
                                 <div class="form-control">
                                 <%if @newproject.individual==true%>
                                        Individual
                                <%else%>
                                        Team
                                <%end%>
                                 </div>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>

                        <br>
                        <div id="success"></div>
                        <div class="row">
                            
                                <button type="submit" class="btn btn-success btn-mg">
                                <%=link_to "Your Projects", user_newprojects_path(current_user)%></button>
                                <button type="submit" class="btn btn-success btn-mg">
                                <%=link_to "Edit", edit_user_newproject_path(current_user,@newproject.id)%></button>
                                <button type="submit" class="btn btn-success btn-mg">
                                <%=link_to "Delete", user_newproject_path(current_user,@newproject.id), method: :delete, data: {confirm: "Are you sure you want to delete your project?"}%></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </section>
    </div>

