<%= form_for([current_user, @newproject]) do |f| %>
	<h1>Your Project Teammates</h1>
	<h3>Maximum: 5 people per team</h3>

	<p>
	<%= f.label "Member 1"%> <br>
	<%= f.text_area :member1%> 
	</p>

	<p>
	<%= f.label "Member 2" %> <br>
	<%= f.text_area :member2 %> 
	</p>

	<p>
	<%= f.label "Member 3" %> <br>
	<%= f.text_area :member3%> 
	</p>

	<p>
	<%= f.label "Member 4" %> <br>
	<%= f.text_area :member4%> 
	</p>

	<p>
	<%= f.label "Member 5" %> <br>
	<%= f.text_area :member5%> 
	</p>

	<p>
	<button type="button">      
    <%=link_to "New Project", new_user_newproject_path(current_user)%></button>  
	</p>
<% end %>
