<%=render 'nav'%>
<%=render 'map'%>
<%= markdown "Built in the early 1980s on the Cape Flats about 20 minutes/'' drive from the Cape Town CBD, Khayelitsha is a bustling mix of township 'box houses' and makeshift shacklands that regularly fall prey to wildfires and flooding. Meaning New Home in Xhosa,Khayelitsha Today Khayelitsha has a population of 391,749. 

In 2011 around 62% of residents in Khayelitsha were rural to urban migrants, most coming from the Eastern Cape.

 About 70 percent of residents still live in shacks, and one in three people has to walk 200 meters or further to access water. Approximately 40 percent of the township’s residents are under 19 years of age, and another roughly 27 percent are of school-going age." %>

<p><strong>Social Issues</strong></p>
<%= markdown"Khayelitsha is one of the poorest areas of Cape Town with a median average income per family of R20,000 a year compared to the City median of R40,000.  Roughly over half of the 118,000 households live in informal



 dwellings.

rise of gangsterism in teh area"%> 

<p><strong>Innovations & Community</strong></p>
One of our key strategic objectives is to drive inclusive innovation. Our programmes at The Barn therefore focus on people and also small businesses that don’t have easy access to financial assistance or social capital. Khayelitsha is alive with creative spirit, which most often only needs a little encouragement and some equipment to unlock innovation. The community-based Barn Khayelitsha provides a unique opportunity to be part of a vibrant living lab ecosystem where users from the local communities take part in a creative social space and processes of transforming ideas into innovative technology products and services that will impact and improve their daily lives.

<p><strong>UWC Research</strong></p>
<p><strong>Langa Community</strong></p>
Langa is situated just 100 metres from the N2, between Cape Town International Airport and the CBD. It’s Cape Town’s oldest township, home to 120 000 residents.
<img><%= image_tag("http://www.capetownmagazine.com//media_lib/r2/4afa6f0cd200841493cf5298ff10c618.img.jpg") %></img>

<p><%= link_to 'Home', users_path%></p>