 
<%=render 'nav'%>
<section class="section-divider textdivider divider3" style="background:url('https://africanartstands.files.wordpress.com/2011/02/img_5396.jpg') no-repeat center top; background-size: cover;">
			<div class="container">
				<h1 class="centered">COMMUNITY</h1>
				<hr>
				<p>We Rise By Lifting Others.</p>
			</div><!-- container -->
		</section><!-- section -->

<div class="container" id="about" name="about">
			<div class="row white">
			<br>
			<br>
				<h2 class="centered">INTRODUCTION TO KHAYELITSHA</h2>
				<hr>
				<h4><div class="col-lg-6">
						<%= markdown "Established in the early 1980s to accommodate informal settlement dwellers on the Cape Flats, Khayelitsha in Xhosa means 'new home'. About 20 minutes' drive from the Cape Town CBD, Khayelitsha is a bustling mix of township 'box houses' and makeshift shacklands that regularly fall prey to wildfires and flooding. "%>
				</div><!-- col-lg-6 -->
				
				<div class="col-lg-6">
			<%= markdown "As the largest township in Cape Town, Khayelitsha has a population of 391,749. One in three people in the community has to walk 200 meters or further to access water. Khayelitsha has a very young population with fewer than 7% of its residents being over 50 years old and over 40% of its residents being under 19 years of age. " %></h4>
				</div><!-- col-lg-6 -->
			</div><!-- row -->

			<div class="row">
			<br>
			<br>
			<br>
					<%=render 'map'%>
			</div><!-- row -->
		</div><!-- container -->
		</div><!-- container -->
	<br>
			<br>
<section class="section-divider textdivider divider3" style="background:url('http://i.imgur.com/DJzoR2T.jpg?1') no-repeat center top; background-size: cover;">




			<div class="container">
				<h1>DESIGN SOLVE PROBLEMS</h1>
				<hr>
				<p>From the purely practical to the richly philosophical, design is the solution to a host of challenges.</p>
			</div><!-- container -->
		</section><!-- section -->



<br>
			<br>
<div id="greywrap">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 centered">
					<br>
					<br>
					<h2 class = "left">SOCIAL ISSUES</h2>
				
						<h4><%= markdown"Accord­ing to South Africa’s 2013 crime sta­tis­tics, Khayelit­sha had the high­est num­ber of reported crimes for mur­der, sex­ual crimes, attempted mur­der and assault with the intent to do griev­ous harm. With a median average income per family of R20,000 a year, Khayelitsha is also one of the poorest areas of Cape Town. Roughly over half of the households live in informal dwellings. Many residents' health is in danger due to the poor water and sanitation conditions. Moreover, members of the Khayelitsha community routinely experience violations of their constitutional rights in their dealings with police."%></h4>
					</div>
					<div class="col-lg-6 right">
					<br>
					<br>
					<br>
						<img class="img-responsive" src="http://images.essentialtravel.co.uk/blog/iStock_000013540946Medium.jpg" align="">
					</div>					
				</div><!-- row -->
			</div>
			<br>
			<br>
		</div><!-- greywrap -->
	<br>	<br>

<section class="section-divider textdivider divider3" style="background:url('http://i.imgur.com/DJzoR2T.jpg?2') no-repeat center top; background-size: cover;">
			<div class="container">
				<h1>DESIGN SOLVE PROBLEMS</h1>
				<hr>
				<p>From the purely practical to the richly philosophical, design is the solution to a host of challenges.</p>
			</div><!-- container -->
		</section><!-- section -->


<br>
			<br>
<div id="greywrap">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 centered">
					<br>
					<br>
						<img class="img-responsive" src="http://ventureburn.com/wp-content/uploads/2015/03/The-Barn.jpg" align="">
					</div>
					<div class="col-lg-6 right">
						<h2>Innovations & Community</h2>
						<h4><p class = "right">Programs at The Barn Khayelitsha focus on people and small businesses that don’t have easy access to financial assistance. The Barn provides a unique opportunity to be part of a vibrant living lab ecosystem where users from the local communities take part in a creative social space and processes of transforming ideas into innovative technology products and services that will impact and improve their daily lives.</p></h4>
					<br>
			<br>
					</div>					
				</div><!-- row -->
			</div>
			<br>
			<br>
			<br>
			<br>
		</div><!-- greywrap -->
<section class="section-divider textdivider divider3" style="background:url('http://i.imgur.com/DJzoR2T.jpg?3') no-repeat center top; background-size: cover;">
			<div class="container">
				<h1 class="centered">DESIGN SOLVE PROBLEMS</h1>
				<hr>
				<p>From the purely practical to the richly philosophical, design is the solution to a host of challenges.</p>
			</div><!-- container -->
		</section><!-- section -->

<div class="container" id="previous" name="previous">
			<div class="row white">
			<br>
			<br>
				<h2 class="centered">PREVIOUS PROJECTS</h2>
				<hr>
				<h4><div class="col-lg-3  col-md-offset-1">
						<%= markdown "WHIZZ ICT Youth Center is established for young people from Khayelitsha, who do not have access to information opportunities. By filling signing up in our database called (YIP), people will get access to job preparation workshops. The size of membership has triped, from 1000 to 3000, in one year. Currently, the center is located in a 600mt container with only eight computers. However, this has not stopped us from trying."%>
				</div><!-- col-lg-6 -->
				<div class="col-lg-6 centered  col-md-offset-2">
					<br>
					<br>
						<img class="img-responsive" src="http://i.imgur.com/rlcglqu.jpg" align="">
					</div>
			</div><!-- row -->
	
				<div class="col-lg-4 centered">
					<br>
					<br>
						<img class="img-responsive" src="http://i.imgur.com/AZB6pg7.jpg" align="">
					</div>
					<div class="col-lg-4 centered">
					<br>
					<br>
						<img class="img-responsive" src="http://i.imgur.com/DMgqWB8.jpg" align="">
					</div>
					<div class="col-lg-4 centered">
					<br>
					<br>
						<img class="img-responsive" src="http://i.imgur.com/QglhM17.jpg" align="">
					</div>
					
			</div><!-- row -->
		</div><!-- container -->
		</div><!-- container -->

<br>
			<br>

<br>
  </div>
    <br>
    <br>

<div id="footerwrap">
   <div class="container">
      

                   <footer> <img src='/assets/logo.jpg'  height="30" width="30"/> Copyright &copy; Socialthon 
   </div>
</div>