<%=render 'nav'%>

<section class="section-divider textdivider divider3" style="background:url('https://mikiaboom.files.wordpress.com/2007/11/sunday-morning-in-north-africa-m.jpg') no-repeat center top; background-size: cover;">
			<div class="container">
				<h1>DESIGN SOLVE PROBLEMS
				<hr>
				<p>From the purely practical to the richly philosophical, design is the solution to a host of challenges.</p></h1>
			</div><!-- container -->
		</section>
		<br>
		<br><!-- section -->
<h2 class="centered">OUR TEAM</h2>
				<hr>


			<section class="section-divider textdivider divider3" style="background:url('http://www.millardart.co.za/wp-content/uploads/2012/05/millard-beach-scene.jpg')no-repeat center top; background-size: cover;"ss>
			<div class="container">
				<h1>My Heart will always beat to an African Drum.
				<hr>
				<p>From the purely practical to the richly philosophical, design is the solution to a host of challenges.</p></h1>
			</div><!-- container -->
		</section><!-- section -->

<div class="container" id="team" name="team">
		<br>
				<br>
				<br>
	<div class="col-lg-6 centered">
					<img class="img img-circle" src="https://scontent.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/11261927_775147052583845_509271203549981200_n.jpg?oh=b4dd9f6e5434de4934fbc6da872d9878&oe=55F1D20A" height="200px" width="180px" alt="">
					<br>
					<h4><b>Yunny Chung</b></h4>
						<strong>Brown University '17</strong>
<%=markdown"~~~~"%>
				</div><!-- col-lg-3 -->
				<div class="col-lg-6 centered">
					<img class="img img-circle" src="http://i.imgur.com/mwDPLQP.png?1" height="200px" width="200px" alt="">
					<br>
					<h4><b>Sophie Tao</b></h4>
					<strong>UVa '17</strong> 
<%=markdown"~~~~" %>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-6 centered">
					<img class="img img-circle" src="http://i.imgur.com/YhjNNTz.png" height="200px" width="200px" alt="">
					<br>
					<h4><b>Mthunzi Qagana</b></h4>
						<strong>Active Member of Khayelitsha Youth Development Council</strong>
<%=markdown"As a Youth Projects Coordinator at the Whizz Center, Mthunzi is passionate about youth development. He organizes technical training program for youth in the community. He is a graduate of University of Western Cape, majoring Law."%>
				</div><!-- col-lg-3 -->
				<div class="col-lg-6 centered">
					<img class="img img-circle" src="http://i.imgur.com/mwDPLQP.png?1" height="200px" width="200px" alt="">
					<br>
					<h4><b>Faith Sidinana</b></h4>
					<strong>Active Member of Khayelitsha Youth Development Council</strong> 
<%=markdown"Faith is from Khayelitsha and currently responsible for helping young people in Khayelitsha community achieve their goals. He finished his studies at Activate Leadership & Public Innovation, Cape Town." %>
				</div><!-- col-lg-3 -->
			</div><!-- row -->
		</div><!-- container -->
	<section class="section-divider textdivider divider3" style="background:url('http://artdealers.co.za/wp-content/uploads/2014/06/18651-30x90.jpg');"  >
			<div class="container">
				<h1>MAKE IT HAPPEN
				<hr>
				<p>We are awesome!</p></h1>
			</div><!-- container -->
		</section><!-- section -->

		
		<div class="container" id="partner" name="partner">
		<br>
		<br>
			<div class="row white centered">
				<h2 class="centered">PARTNERS</h2>
				<hr>
				<br>
				<br>
				<br>
				<br>
				<br>
	<div class="col-lg-6 centered">
	<p><%=link_to image_tag("http://4.bp.blogspot.com/-NWfLAcaxWDM/TfIx8LQDVqI/AAAAAAAAAEs/ZgfvKVCUsNI/s748/Khayelitsha%252BYouth%252BDevelopment%252BCouncil%252B.jpg"), "http://kydc.blogspot.com/"%></p>
				</div><!-- col-lg-3 -->
				<div class="col-lg-6 centered">
<p><%=link_to image_tag("http://www.citi.org.za/wp-content/uploads/2015/02/capaciti-logo-for-blog-300x200.jpg"), "http://www.citi.org.za"%></p>
					<br>
					<br>
				</div><!-- col-lg-3 -->
				</div>
				</div>
				<section class="section-divider textdivider divider3" style="background:url('http://i.imgur.com/PUKPfVu.jpg?1') no-repeat center top; background-size: cover;">
			<div class="container">
				<h1>It always seems impossible until it's done.
				<hr>
				<p>- Nelson Mandela</p></h1>
			</div><!-- container -->
		</section><!-- section -->


<div class="container" id="sponsor" name="sponsor">
		<br>
			<div class="row white centered">
			<br>
			
				<h2 class="centered">SPONSORS</h2>
				<hr>
				<br>
				<br>
	<div class="col-lg-12 centered">
	<p><%=link_to image_tag("https://pbs.twimg.com/profile_images/467248542537379840/AgqCzATA.png"), "http://ixperience.co.za"%></p>
				<br>
					<br>
				</div><!-- col-lg-3 -->
