<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<!-- <div data-role="page">
  <div data-role="header"> -->
    <h1>Projects</h1>
 <!--  </div> -->



  <!-- <div data-role="footer">
    <h1>Footer Text</h1> -->
 <!--  </div>
</div>  -->

<p><strong>Education</strong></p>

<!-- <a data-toggle="modal" data-target="#modal_9" href="#" class="box isotope-item college_u_v_a gender_female major_computer_science" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
        <div class="cell-top">
        </div>
          <div class="alumni-thumb circle">
            <img alt="Allison" src="http://s3.amazonaws.com/ixperience/alumni/pictures/000/000/009/medium/allison.jpg?1409844388">
          </div>
          <div class="alumni-info">
            <p>Allie Ivener </p><p>
              </p><div class="alumni-college">
                <p>UVA </p><p>        
            </p></div>
          </div> 
      </a>
      <div class="modal fade hide custom-modal" id="modal_9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Meet Allie, iX 2014</h4>
      </div>
      <div class="modal-body">
          <div class="alumni-modal-image">
            <img alt="Allison" src="http://s3.amazonaws.com/ixperience/alumni/pictures/000/000/009/medium/allison.jpg?1409844388">
          </div>
          <div class="alumni-quotes">
            <p>"iX is an amazing summer program that spends 4 weeks intensively teaching web development and 4 weeks at an internship at a local tech company with amazing excursions and adventures on the weekends. It's so hard to get a similar internship in America, so this opportunity was really valuable. During my internship I learned a lot about the startup culture and how a company like these work. "</p>
          </div>
        </div>
        <div class="alumni-contact-coffee">
          <a href="mailto:adi2hf@virginia.edu?subject=iX%20-%20Meet%20for%20coffee">Click here to meet Allie for coffee!</a>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn modal-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->
 <!-- <a data-toggle="modal" data-target="#modal_8" href="#" class="box isotope-item college_university_of_michigan gender_male major_undecided">
        <div class="cell-top">
        </div>
          <div class="alumni-thumb circle">
            <img alt="Beam" src="http://s3.amazonaws.com/ixperience/alumni/pictures/000/000/008/medium/beam.jpg?1409844208" />
          </div>
          <div class="alumni-info">
            <p>Alex Beam <p>
              <div class="alumni-college">
                <p>University Of Michigan <p>        
            </div>
          </div> 
      </a>
      <div class="modal fade hide custom-modal" id="modal_8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Meet Alex, iX 2014</h4>
      </div>
      <div class="modal-body">
          <div class="alumni-modal-image">
            <img alt="Beam" src="http://s3.amazonaws.com/ixperience/alumni/pictures/000/000/008/medium/beam.jpg?1409844208" />
          </div>
          <div class="alumni-quotes">
            <p>&quot;iX was a really great experience where I was able to learn and see a lot in a small period of time while having the opportunity to see another culture. During internship I learnt all about the the business implications of building software for a client. The process from start to finish was really cool to see. I also learnt a lot about code itself, the guys I worked with were proper gurus and I was able to learn a lot of things that I was personally interested in like front end frameworks.&quot;</p>
          </div>
        </div>
        <div class="alumni-contact-coffee">
          <a href="mailto:alexbeam@umich.edu?subject=iX%20-%20Meet%20for%20coffee">Click here to meet Alex for coffee!</a>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn modal-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  --> 
 <div data-role="main" class="ui-content">
     <a href="#myPopup" data-rel="popup" 
     class="ui-btn ui-btn-inline ui-corner-all" 
     data-position-to="#demo"><img alt="Beam" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQYaLHQWc1ldTjQYt6fCT6grr40g-9920Xc6Tgub9jDCli3-i52" /></a>
    <div data-role="popup" id="myPopup" class="ui-content">
      <h3>Details</h3>
      <p>More About Education Issues in the community
     <!--  <span style="font-size:55px;"> -->
      
     <!--  </span> -->
      <!-- , <strong>Note:</strong> The text will wrap to multiple lines if needed. -->
      
          </div>
    </div>
    <p><strong>Project1</strong>
<strong>Project2</strong>
<strong>Project3</strong></p>
  <p><%= link_to 'Learn More', educations_path%></p>
<p><strong>Business</strong></p>
<p><strong>Project1</strong>
<strong>Project2</strong>
<strong>Project3</strong></p>
 <p><%= link_to 'Learn More', businesses_path%></p>
<p><strong>Food Security</strong></p>
<p><strong>Project1</strong>
<strong>Project2</strong>
<strong>Project3</strong></p>
 <p><%= link_to 'Learn More', securities_path%></p>
<p><strong>Health</strong></p>
<p><strong>Project1</strong>
<strong>Project2</strong>
<strong>Project3</strong></p>
 <p><%= link_to 'Learn More', healths_path%></p>
<p><strong>Arts & Culture</strong></p>
<p><strong>Project1</strong>
<strong>Project2</strong>
<strong>Project3</strong></p>
 <p><%= link_to 'Learn More', arts_path%></p>
<p><strong>Poverty</strong></p>
<p><strong>Project1</strong>
<strong>Project2</strong>
<strong>Project3</strong></p>
<p><%= link_to 'Learn More', poverties_path%></p>
<p><%= link_to 'Home', users_path%></p>
</body>
</html>