<%=render 'nav'%>
<!DOCTYPE html>
<html lang="en">
   <head>
      <script src="/assets/jquery.js"></script>
      <link href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps' rel='stylesheet' type='text/css' rel='stylesheet' type='text/css'>
   <body>
   
     <h1>Projects</h1>
      <section class="section-divider textdivider divider1" style="background:url('https://www.prepbootstrap.com/Content/images/shared/shield/bg/divider1.jpg');">
         <section data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-lg">
            <div class="container">
               <h1>Education</h1>
               <hr>
               <p>The educational opportunities for children in Khayelitsha are vanishingly slim. Among 64 schools and one collage in Khayelitsha, each school has about 1300 students. In 2011, only 20 students (.04 percent) went on to study at the University of Cape Town.</p>
            </div>
         </section>
      </section>
      </figure> 
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Education</h4>
               </div>
               <div class="modal-body">
                  <p><img class="img-responsive" src="https://www.prepbootstrap.com/Content/images/shared/shield/portfolio/folio01.jpg" alt=""></p>
                  <p>Problems: 1.Shortage of educational opportunities
                     2. Sciences and technology lap
                     3. Drop out leaners.
                     Cause the challenge: Each School has a large number of students.
                     Less pass rate in Sciences and technology because of less pretcails in high school and college.
                     No moretivel speaks in school around final Exam time or friends infuse.
                     Why should it be fixing: To educate more young people and give them skill of life which is 
                     education. People with education have more chances in life and with this lap being build it will help 
                     them to understand more about the subject him/her doing in school. 
                  </p>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
            </div>
            <!-- /.modal-content -->
         </div>
         <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
      </div><!-- container --> 
      </section><!-- section --> 
       <br>  <br>  <br> 
      <div class="col-lg-4 centered">
         <img class="img img-circle" src="http://www.morethanprinting.co/images/educationIcon.png" height="120px" width="120px" alt=""> 
         <br> 
         <h4><b>Project 1</b></h4>
         <p>Mike combines an expert technical knowledge with a real eye for design. Working with clients from a wide range of industries, he fully understands client objectives when working on a project, large or small.</p>
      </div>
      <!-- col-lg-3 --> 
      <div class="col-lg-4 centered">
         <img class="img img-circle" src="http://www.morethanprinting.co/images/educationIcon.png" height="120px" width="120px" alt=""> 
         <br> 
         <h4><b>Project 2</b></h4>
         <p>Tim is an experienced marcoms practitioner and manages projects from inception to delivery. He understands the synergy between great design and commercial effectiveness which shines through on every project.</p>
      </div>
      <!-- col-lg-3 --> 
      <div class="col-lg-4 centered">
         <img class="img img-circle" src="http://www.morethanprinting.co/images/educationIcon.png" height="120px" width="120px" alt=""> 
         <br> 
         <h4><b>Project 3</b></h4>
         <p>Tim is an experienced marcoms practitioner and manages projects from inception to delivery. He understands the synergy between great design and commercial effectiveness which shines through on every project.</p>
      </div>
      </div>
      <p><a href="educations#index" class="btn btn-success">Learn More</a></p>
      <p><%= link_to 'Learn More', educations_path%></p>
      <p><strong>Business</strong></p>
      <p><strong>Project1</strong>
         <strong>Project2</strong>
         <strong>Project3</strong>
      </p>
      <p><%= link_to 'Learn More', businesses_path%></p>
      <p><strong>Food Security</strong></p>
      <p><strong>Project1</strong>
         <strong>Project2</strong>
         <strong>Project3</strong>
      </p>
      <p><%= link_to 'Learn More', securities_path%></p>
      <p><strong>Health</strong></p>
      <p><strong>Project1</strong>
         <strong>Project2</strong>
         <strong>Project3</strong>
      </p>
      <p><%= link_to 'Learn More', healths_path%></p>
      <p><strong>Arts & Culture</strong></p>
      <p><strong>Project1</strong>
         <%=markdown"As we know Khayelitsha has high number young inside it, which has 6 different cultures delimiting.
            This entire young people have talent into different act skills e.g. dancer, drawing & etc. This area has 
            
            many act & culters groups which own by young people.
            
            We have fond same challenges as follow: 1. No theatre
            
            Causes the challenges: Ignores to our government about theatre and some young people never 
            
            teaches about their culture. Language issue depend to family lessons when you’re growing up or you 
            
            not wanting to leaner."%>
         <strong>Project2</strong>
         <strong>Project3</strong>
      </p>
      <p><%= link_to 'Learn More', arts_path%></p>
      <p><strong>Poverty</strong></p>
      <p><strong>Project1</strong>
         <strong>Project2</strong>
         <strong>Project3</strong>
      </p>
      <p><%= link_to 'Learn More', poverties_path%></p>
      <p><%= link_to 'Home', users_path%></p>
   </body>
</html>